{% extends "base.html" %}
{% load static %}
{% load bag_tools %}

{% block title %} | Shopping Bag{% endblock %}

{% block content %}
    <div class="overlay"></div>
        <div class="container-fluid clear-nav mb-3">
            {% include 'includes/offer-banner.html' %}
            <div class="row">
                <div class="col text-center">
                    <h2 class="dark-blue">Shopping Bag</h2>
                    <hr class="w-50 mx-auto mb-3">                    
                </div>
            </div>
            <div class="row mt-3">
                <div class="col-12 col-md-8 mx-auto">
                    {% if bag_items %}
                        <div class="d-block d-md-none">
                            <div class="row">
                                <div class="col">
                                    {% include "bag/bag_total.html" %}
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    {% include "bag/checkout_buttons.html" %}
                                    <p class="text-muted mb-5">
                                        A summary of your bag contents is below.
                                    </p>
                                </div>
                            </div>
                            {% for item in bag_items %}
                                <div class="row">
                                    <div class="col-12 col-sm-6 mb-2">
                                        {% include "bag/product_image.html" %}
                                    </div>
                                    <div class="col-12 col-sm-6 mb-2">
                                        {% include "bag/product_info.html" %}
                                    </div>
                                    <div class="col-12 col-sm-6 mb-2 order-sm-last">
                                        <div class="row">
                                            <div class="col-6">
                                                Price Each: {% include "bag/product_price.html" %}
                                            </div>
                                            <div class="col-6">
                                                <strong>Subtotal: {% include "bag/product_subtotal.html" %}</strong>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-12 col-sm-6 mb-2">
                                        {% include "bag/mobile_quantity_form.html" %}
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col">
                                        <hr>
                                    </div>
                                </div>
                                <!-- Remove Modal Smaller Screens -->
                                <div class="modal fade" id="mobile-remove-modal-{{ item.item_id }}" tabindex="-1" aria-labelledby="mobile-remove-modal-{{ item.item_id }}-label" aria-hidden="true" data-bs-backdrop='static'>
                                    <div class="modal-dialog">
                                        <div class="modal-content">
                                                <h1 class="modal-title fs-4 text-danger text-center pt-3" id="moblie-remove-modal-{{ item.item_id }}-label">
                                                    Remove 
                                                    {% if item.type == 'variant' %}
                                                        {{ item.variant }}({{ item.variant.size_unit}})
                                                    {% else %}
                                                        {{ item.product }} - {{ item.product.size|upper }}({{ item.product.size_unit}})
                                                    {% endif %}
                                                </h1>
                                                <hr class="w-100">
                                            <div class="modal-body dark-blue text-center">
                                                <p>
                                                    Are you sure you wish to proceed?
                                                </p>
                                            </div>
                                            <div class="modal-footer text-center">
                                                <button type="button" class="btn btn-primary shopping-button" data-bs-dismiss="modal">No, cancel</button>
                                                <a class="btn btn-danger shopping-button remove-item" data-item_id="remove_{{ item.item_id }}">Yes, remove</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                        <div class="table-responsive rounded d-none d-md-block">
                            <table class="table table-sm table-borderless">
                                <thead class="text-black">
                                    <tr>
                                        <th scope="col">Product Info</th>
                                        <th scope="col"></th>
                                        <th scope="col">Price</th>
                                        <th scope="col">Qty</th>
                                        <th scope="col">Subtotal</th>
                                    </tr>
                                </thead>
                                <tbody>
                                {% for item in bag_items %}
                                    <tr>
                                        <td class="p-3 w-25">
                                            {% include "bag/product_image.html" %}
                                        </td>
                                        <td class="py-3">
                                            {% include "bag/product_info.html" %}
                                        </td>
                                        <td class="py-3">
                                            {% include "bag/product_price.html" %}
                                        </td>
                                        <td class="py-3 w-25">
                                            {% include "bag/quantity_form.html" %}
                                        </td>
                                        <td class="py-3">
                                            {% include "bag/product_subtotal.html" %}
                                        </td>
                                    </tr>
                                    <!-- Remove Modal Larger Screens -->
                                    <div class="modal fade" id="remove-modal-{{ item.item_id }}" tabindex="-1" aria-labelledby="remove-modal-{{ item.item_id }}-label" aria-hidden="true" data-bs-backdrop='static'>
                                        <div class="modal-dialog">
                                            <div class="modal-content">
                                                    <h1 class="modal-title fs-4 text-danger text-center pt-3" id="remove-modal-{{ item.item_id }}-label">
                                                        Remove 
                                                        {% if item.type == 'variant' %}
                                                            {{ item.variant }}({{ item.variant.size_unit}})
                                                        {% else %}
                                                            {{ item.product }} - {{ item.product.size|upper }}({{ item.product.size_unit}})
                                                        {% endif %}
                                                    </h1>
                                                    <hr class="w-100">
                                                <div class="modal-body dark-blue text-center">
                                                    <p>
                                                        Are you sure you wish to proceed?
                                                    </p>
                                                </div>
                                                <div class="modal-footer text-center">
                                                    <button type="button" class="btn btn-primary shopping-button" data-bs-dismiss="modal">No, cancel</button>
                                                    <a class="btn btn-danger shopping-button remove-item" data-item_id="remove_{{ item.item_id }}">Yes, remove</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                {% endfor %}
                                    <tr>
                                        <td colspan="5" class="pt-5 text-end">
                                            {% include "bag/bag_total.html" %}
                                        </td>
                                    </tr>
                                    <tr>
                                        <td colspan="5" class="text-center">
                                            {% include "bag/checkout_buttons.html" %}
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    {% else %}
                        <div class="mx-auto text-center">                            
                            <p class="fw-bold">Your bag is empty. Hit the button below to add some items!</p>
                            <a href="{% url 'products' %}" class="btn btn-primary text-center"><i class="fas fa-chevron-left pe-2"></i> Keep Shopping</a>
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
        <div class="btt-button text-center d-none">
            <a id="btt-link" class="btt-link d-flex h-100">
                <i class="fa-solid fa-chevron-up btt-icon my-auto mx-auto"></i>
            </a>	
        </div>
{% endblock %}

{% block extra_js %}
{{ block.super }}
    <script>
        function handleEnableDisable() {
            // Find all decrement buttons
            document.querySelectorAll('.decrement-qty').forEach((button) => {
                const closestInput = button.closest('.input-group').querySelector('.qty_input');
                const currentValue = parseInt(closestInput.value);

                // Disable the button if the closest input value is less than 1
                button.disabled = currentValue < 1;
            });
            // Find all increment buttons
            document.querySelectorAll('.increment-qty').forEach((button) => {
                const closestInput = button.closest('.input-group').querySelector('.qty_input');
                const currentValue = parseInt(closestInput.value);

                // Disable the button if the closest input value is greater than 98
                button.disabled = currentValue > 98;
            });
        }

        // Call handleEnableDisable on page load
        handleEnableDisable();

        // Add event listeners for input changes
        document.querySelectorAll('.qty_input').forEach((input) => {
            input.addEventListener('change', handleEnableDisable);
        });

        // Increment quantity
        document.querySelectorAll('.increment-qty').forEach((button) => {
            button.addEventListener('click', (e) => {
                e.preventDefault();
                const closestInput = button.closest('.input-group').querySelector('.qty_input');
                // Get current value of input or if empty set to 0 so starting value on press is 1
                const currentValue = parseInt(closestInput.value || 0);
                closestInput.value = currentValue + 1;
                handleEnableDisable();
            });
        });

        // Decrement quantity
        document.querySelectorAll('.decrement-qty').forEach((button) => {
            button.addEventListener('click', (e) => {
                e.preventDefault();
                const closestInput = button.closest('.input-group').querySelector('.qty_input');
                // Get current value of input or if empty set to 2 so starting value on press is 1
                const currentValue = parseInt(closestInput.value) || 2;
                closestInput.value = currentValue - 1;
                handleEnableDisable();
            });
        });
    </script>
    <script>
        // Update quantity on click
        document.querySelectorAll('.update-link').forEach(link => {
            link.addEventListener('click', (e) => {
                const form = link.parentElement.parentElement;
                form.submit();
                
            });
        });

        // Remove item on click
        // Assistance using CSRF token in fetch found here:
        // https://stackoverflow.com/questions/73354115/how-do-i-add-a-csrf-token-to-a-json-fetch-in-js
        document.querySelectorAll('.remove-item').forEach(item => {
            item.addEventListener('click', () => {
                const csrfToken = "{{ csrf_token }}";
                const itemId = item.dataset.item_id.split('remove_')[1];
                const url = `/bag/remove_from_bag/${itemId}/`;
                const data = { 'csrfmiddlewaretoken': csrfToken };

                fetch(url, {
                    method: 'POST',
                    headers: {
                        'X-CSRFToken': '{{csrf_token}}',
                        'Content-Type': 'application/json',
                    },
                    body: JSON.stringify(data),
                })
                .then(() => location.reload());
            });
        });
    </script>
    <script>
        // Back to top button
        const bttDiv = document.querySelector('.btt-button');

        function toggleBackToTopButton() {
            if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
                bttDiv.classList.remove('d-none');
            } else {
                bttDiv.classList.add('d-none');
            }
        }

        document.querySelector('#btt-link').addEventListener('click', () => {
            window.scrollTo({
                top: 0,
                left: 0,
                behavior: 'smooth'
            });
        });

        window.addEventListener('scroll', toggleBackToTopButton);
    </script>
{% endblock %}