{% extends "base.html" %}
{% load static %}
{% load bag_tools %}

{% block title %} | Home{% endblock %}

{% block content %}
    <div class="overlay"></div>
        <div class="container-fluid clear-nav mb-3">
            {% include 'includes/offer-banner.html' %}
            <div class="row">
                <div class="col text-center">
                    <h2 class="dark-blue">Shopping Bag</h2>
                    <hr class="w-50 mx-auto mb-3">                    
                </div>
            </div>

            <div class="row mt-3">
                <div class="col-12 col-md-8 mx-auto">
                    {% if bag_items %}
                        <div class="table-responsive rounded">
                            <table class="table table-sm table-borderless">
                                <thead class="text-black">
                                    <tr>
                                        <th scope="col">Product Info</th>
                                        <th scope="col"></th>
                                        <th scope="col">Price</th>
                                        <th scope="col">Qty</th>
                                        <th scope="col">Subtotal</th>
                                    </tr>
                                </thead>

                                {% for item in bag_items %}
                                    {% if item.type == 'product' %}
                                        <tr>
                                            <td class="p-3 w-25">
                                                <img class="card-img-top product-detail-img" src="{{ item.product.image.url }}">
                                            </td>
                                            <td class="py-3">
                                                <p class="my-0"><strong>{{ item.product.name }}</strong></p>                                            
                                                <p class="my-0"><strong>Size: </strong>{% if item.product.size %}{{ item.product.size|upper }} ({{ item.product.size_unit}}){% else %}N/A{% endif %}</p>
                                                <p class="my-0 small text-muted">SKU: {{ item.product.sku|upper }}</p>
                                            </td>
                                            <td class="py-3">
                                                {% if item.product.sale_price %}
                                                    <p class="my-0"><strong>Was: </strong><span class="text-decoration-line-through">£{{ item.product.price }}</span></p>
                                                    <p class="my-0"><strong>Now: </strong><span class="text-danger">£{{ item.product.sale_price }}</span></p>
                                                {% else %}
                                                    <p class="my-0">£{{ item.product.price }}</p>
                                                {% endif %}
                                            </td>
                                            <td class="py-3 w-25">
                                                <form class="form update-form" action="{% url 'adjust_bag' item.item_id %}" method="POST">
                                                    {% csrf_token %}
                                                    <div class="form-group">
                                                        <div class="input-group">
                                                            <button class="decrement-qty input-group-text" 
                                                            data-item_id="{{ item.item_id }}" id="decrement-qty_{{ item.item_id }}">
                                                                <i class="fa-solid fa-minus"></i>
                                                            </button>
                                                                <input id="id_qty_{{ item.item_id }}" class="form-control form-control-sm qty_input" type="number" name="quantity" value="{{ item.quantity }}" min="1" max="99"
                                                                data-item_id="{{ item.item_id }}" id="id_qty_{{ item.item_id }}">
                                                            <button class="increment-qty input-group-text"
                                                            data-item_id="{{ item.item_id }}" id="increment-qty_{{ item.item_id }}">
                                                                <i class="fa-solid fa-plus"></i>
                                                            </button>
                                                        </div>
                                                    </div>
                                                    <button id="submit-{{ item.item_id }}" type="submit" class="d-none"></button>
                                                </form>
                                                <a class="update-link dark-blue float-start mt-1 text-decoration-none" id="update_{{ item.item_id }}"><small>Update</small></a>
                                                <a class="remove-item text-danger float-end mt-1 text-decoration-none" id="remove_{{ item.item_id }}"><small>Remove</small></a>
                                            </td>
                                            <td class="py-3">
                                                {% if item.product.sale_price %}
                                                    <p class="my-0">£{{ item.product.sale_price | calc_subtotal:item.quantity }}</p>
                                                {% else %}
                                                    <p class="my-0">£{{ item.product.price | calc_subtotal:item.quantity }}</p>
                                                {% endif %}
                                            </td>
                                        </tr>
                                    {% elif item.type == 'variant' %}
                                        <tr>
                                            <td class="p-3 w-25">
                                                <img class="card-img-top product-detail-img" src="{{ item.variant.product.image.url }}">
                                            </td>
                                            <td class="py-3">
                                                <p class="my-0"><strong>{{ item.variant.product.name }}</strong></p>                                            
                                                <p class="my-0"><strong>Size: </strong>{% if item.variant.size %}{{ item.variant.size|upper }} ({{ item.variant.size_unit}}){% else %}N/A{% endif %}</p>
                                                <p class="my-0 small text-muted">SKU: {{ item.variant.sku|upper }}</p>
                                            </td>
                                            <td class="py-3">
                                                {% if item.variant.sale_price %}
                                                    <p class="my-0"><strong>Was: </strong><span class="text-decoration-line-through">£{{ item.variant.price }}</span></p>
                                                    <p class="my-0"><strong>Now: </strong><span class="text-danger">£{{ item.variant.sale_price }}</span></p>
                                                {% else %}
                                                    <p class="my-0">£{{ item.variant.price }}</p>
                                                {% endif %}
                                            </td>
                                            <td class="py-3 w-25">
                                                <form class="form update-form" action="{% url 'adjust_bag' item.item_id %}" method="POST">
                                                    {% csrf_token %}
                                                    <div class="form-group">
                                                        <div class="input-group">
                                                            <button class="decrement-qty input-group-text" 
                                                            data-item_id="{{ item.item_id }}" id="decrement-qty_{{ item.item_id }}">
                                                                <i class="fa-solid fa-minus"></i>
                                                            </button>
                                                                <input id="id_qty_{{ item.item_id }}" class="form-control form-control-sm qty_input" type="number" name="quantity" value="{{ item.quantity }}" min="1" max="99"
                                                                data-item_id="{{ item.item_id }}" id="id_qty_{{ item.item_id }}">
                                                            <button class="increment-qty input-group-text"
                                                            data-item_id="{{ item.item_id }}" id="increment-qty_{{ item.item_id }}">
                                                                <i class="fa-solid fa-plus"></i>
                                                            </button>
                                                        </div>
                                                    </div>
                                                    <input type="hidden" name="variant" value="variant">
                                                    <button id="submit-{{ item.item_id }}" type="submit" class="d-none"></button>
                                                </form>
                                                <a class="update-link dark-blue float-start mt-1 text-decoration-none" id="update_{{ item.item_id }}"><small>Update</small></a>
                                                <a class="remove-item text-danger float-end mt-1 text-decoration-none" id="remove_{{ item.item_id }}"><small>Remove</small></a>
                                            </td>
                                            <td class="py-3">
                                                {% if item.variant.sale_price %}
                                                    <p class="my-0">£{{ item.variant.sale_price | calc_subtotal:item.quantity }}</p>
                                                {% else %}
                                                    <p class="my-0">£{{ item.variant.price | calc_subtotal:item.quantity }}</p>
                                                {% endif %}
                                            </td>
                                        </tr>
                                    {% endif %}
                                {% endfor %}
                                <tr>
                                    <td colspan="5" class="pt-5 text-end">
                                        <h6><strong>Bag Total: £{{ total|floatformat:2 }}</strong></h6>
                                        <h6>Delivery: £{{ delivery|floatformat:2 }}</h6>
                                        <h4 class="mt-4"><strong>Grand Total: £{{ grand_total|floatformat:2 }}</strong></h4>
                                        {% if free_delivery_delta > 0 %}
                                            <p class="mb-1 text-danger">
                                                You could get free delivery by spending just <strong>£{{ free_delivery_delta }}</strong> more!
                                            </p>
                                        {% endif %}
                                    </td>
                                </tr>
                                <tr>
                                    <td colspan="5" class="text-center">
                                        <div class="d-flex justify-content-between">
                                            <a href="{% url 'products' %}" class="btn btn-primary text-center mt-2 shopping-button">
                                                <i class="fas fa-chevron-left pe-2"></i>Keep Shopping
                                            </a>
                                            <a href="" id="secure-checkout-button" class="btn btn-success text-center mt-2 shopping-button">
                                                    <i class="fas fa-lock pe-2"></i>
                                            
                                                Secure Checkout
                                            </a>
                                        </div>
                                    </td>
                                </tr>
                            </table>
                        </div>
                    {% else %}
                        <div class="mx-auto text-center">                            
                            <p class="fw-bold">Your bag is empty. Hit the button below to add some items!</p>
                            <a href="{% url 'products' %}" class="btn btn-primary text-center"><i class="fas fa-chevron-left pe-2"></i> Keep Shopping</a>
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
{% endblock %}

{% block extra_js %}
<script>
    // Disable +/- buttons outside 1-99 range
    function handleEnableDisable(itemId) {
        const currentValue = parseInt(document.getElementById(`id_qty_${itemId}`).value);
        const minusDisabled = currentValue < 2;
        const plusDisabled = currentValue > 98;
        document.getElementById(`decrement-qty_${itemId}`).disabled = minusDisabled;
        document.getElementById(`increment-qty_${itemId}`).disabled = plusDisabled;
    }

    // Ensure proper enabling/disabling of all inputs on page load
    document.querySelectorAll('.qty_input').forEach((input) => {
        const itemId = input.dataset.item_id;
        handleEnableDisable(itemId);
    });

    // Check enable/disable every time the input is changed
    document.querySelectorAll('.qty_input').forEach((input) => {
        input.addEventListener('change', () => {
            const itemId = input.dataset.item_id;
            handleEnableDisable(itemId);
        });
    });

    // Increment quantity
    document.querySelectorAll('.increment-qty').forEach((button) => {
        button.addEventListener('click', (e) => {
            e.preventDefault();
            const closestInput = button.closest('.input-group').querySelector('.qty_input');
            // Get current value of input or if empty set to 0 so starting value on press is 1
            const currentValue = parseInt(closestInput.value || 0);
            closestInput.value = currentValue + 1;
            const itemId = button.dataset.item_id;
            handleEnableDisable(itemId);
        });
    });

    // Decrement quantity
    document.querySelectorAll('.decrement-qty').forEach((button) => {
        button.addEventListener('click', (e) => {
            e.preventDefault();
            const closestInput = button.closest('.input-group').querySelector('.qty_input');
            // Get current value of input or if empty set to 2 so starting value on press is 1
            const currentValue = parseInt(closestInput.value) || 2;
            closestInput.value = currentValue - 1;
            const itemId = button.dataset.item_id;
            handleEnableDisable(itemId);
        });
    });
</script>
<script>
    // Update quantity on click
    document.querySelectorAll('.update-link').forEach(link => {
        link.addEventListener('click', (e) => {
            const itemId = link.id.split('update_')[1];
            document.querySelector(`#submit-${itemId}`).click();
            
        });
    });

    // Remove item on click
    // Assistance using CSRF token in fetch found here:
    // https://stackoverflow.com/questions/73354115/how-do-i-add-a-csrf-token-to-a-json-fetch-in-js
    document.querySelectorAll('.remove-item').forEach(item => {
        item.addEventListener('click', () => {
            const csrfToken = "{{ csrf_token }}";
            const itemId = item.id.split('remove_')[1];
            const url = `/bag/remove_from_bag/${itemId}/`;
            const data = { 'csrfmiddlewaretoken': csrfToken };

            fetch(url, {
                method: 'POST',
                headers: {
                    'X-CSRFToken': '{{csrf_token}}',
                    'Content-Type': 'application/json',
                },
                body: JSON.stringify(data),
            })
            .then(() => location.reload());
        });
    });


</script>
{% endblock %}