<div class="modal fade" id="review-modal" tabindex="-1" aria-labelledby="review-modal-label" aria-hidden="true"
    data-bs-backdrop='static'>
    <div class="modal-dialog">
        <div class="modal-content">
            <h1 class="modal-title fs-4 dark-blue text-center pt-3" id="review-modal-label">Review for {{ product.name
                }}</h1>
            <hr class="w-100">
            <div class="modal-body dark-blue">
                <form action="{% url 'add_review' product.id %}" method="POST">
                    {% csrf_token %}
                    {{ form|crispy }}
                    <!-- Hidden submit button -->
                    <button id="review-form-submit-btn" type="submit" class="d-none"></button>
                </form>
            </div>
            <div class="modal-footer text-center">
                <button type="button" class="btn btn-success shopping-button" onclick="submitReviewForm()">Submit
                    Review</button>
                <button type="button" class="btn btn-primary shopping-button" data-bs-dismiss="modal">Cancel</button>
            </div>
        </div>
    </div>
</div>