/***** Global Styling *****/
* {
    --dark-blue: #084298;
    --light-blue: #0d6efd;
}

.dark-blue {
    color: var(--dark-blue);
}

.light-blue {
    color: var(--light-blue);
}

html {
    height: 100%;
}

body {
    background: url('/media/hero.webp') no-repeat center center fixed;
    background-size: cover;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    font-family: 'Roboto Condensed', sans-serif;
}

.clear-nav {
    margin-top: 80px;
}

/* From Bulma */
.icon {
    align-items: center;
    display: inline-flex;
    justify-content: center;
    height: 1.5rem;
    width: 1.5rem;
    color: var(--dark-blue) !important;
}

.overlay {
    height: 100%;
    width: 100%;
    position: fixed;
    z-index: -1;
    top: 0;
    left: 0;
    background-color: #fff;
}

.badge {
    transition: all 0.2s ease-in-out;
}

.badge:hover {    
    transform: scale(1.15);
}

.tags {
    display: inline-block;
    transition: all 0.2s ease-in-out;
}

.tags:hover {    
    transform: scale(1.15);
}

/* Back to top button */
.btt-button {
    height: 42px;
    width: 42px;
    position: fixed;
    bottom: 40px;
    right: 20px;
    border-radius: 10px;
    border: 1px solid rgba(0, 0, 0, 0.5);
    box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.5);
    background-color: rgba(255, 255, 255, 0.5);
    transition: all 0.2s ease-in-out;
}

.btt-icon {
    font-size: 30px;
}

.btt-link {
    text-decoration: none;
}

.btt-button:hover {
    cursor: pointer;
    background-color: rgba(255, 255, 255, 0.8);
    transform:translateX(1px) translateY(1px);
    box-shadow: 0px 0px 0px 0px;
}


/* Navbar */
.navbar {
    background-color: #fff;
    box-shadow: 0 2px 2px 2px rgba(0, 0, 0, 0.5);
}

.nav-item .nav-link, 
a,
.hover-blue {
    color: var(--dark-blue);
    font-weight: bold;
}

.nav-item .nav-link:hover,
a:hover,
.hover-blue:hover,
.nav-item .nav-link:focus,
a:focus,
.hover-blue:focus {
    color: var(--light-blue);
}

.logo {
    width: 300px;
    max-width: 90%;
}

.offcanvas-title {
    padding-left: 32px;
}

.dropdown-menu {
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.5);
}

/* Footer */
footer {
    background-color: #fff;
    box-shadow: 0 -2px 2px 2px rgba(0, 0, 0, 0.5);
}

.footer-logo {
    width: 200px;
    max-width: 90%;
}

/* Product Page */
.card-img-top {
    object-fit: cover;
    object-position: center;
    width: 100%; /* Ensure the image takes the full width of the container */
    height: 100%; /* Ensure the image takes the full height of the container */
}

/* Product Detail Page */
.product-detail-img {
    border-radius: 5px;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.5);
}

.collapse-heading {
    border: 1px solid rgba(0, 0, 0, 0.5);
    padding: 5px;
    border-radius: 3px;
    cursor: pointer;
    text-decoration: none;
    font-weight: normal;
}

/***** Media Queries *****/
@media screen and (min-width: 992px) and (max-width: 1071px) {
    .clear-nav {
        margin-top: 140px;
    }
}

@media screen and (min-width: 1072px) {
    .clear-nav {
        margin-top: 116px;
    }
}

@media screen and (max-width: 375px) {
    .logo {
        width: 275px;
    }
    
}

@media screen and (max-width: 320px) {
    .logo {
        width: 240px;
    }
    
}

@media screen and (max-width: 992px) {
    .logo {
        padding-left: 56px;
    }
    
}