/***** Global Styling *****/
* {
    --dark-blue: #084298;
    --light-blue: #0d6efd;
}

.dark-blue {
    color: var(--dark-blue);
}

.light-blue {
    color: var(--light-blue);
}

html {
    height: 100%;
}

body {
    background: url('/media/hero.webp') no-repeat center center fixed;
    background-size: cover;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    font-family: 'Roboto Condensed', sans-serif;
}

/* From Bulma */
.icon {
    align-items: center;
    display: inline-flex;
    justify-content: center;
    height: 1.5rem;
    width: 1.5rem;
    color: var(--dark-blue) !important;
}

.overlay {
    height: 100%;
    width: 100%;
    position: fixed;
    z-index: -1;
    top: 0;
    left: 0;
    background-color: #fff;
}

/* Badges and Tags */
.badge {
    transition: all 0.2s ease-in-out;
}

.badge:hover {    
    transform: scale(1.15);
}

.tags {
    display: inline-block;
    transition: all 0.2s ease-in-out;
}

.tags:hover {    
    transform: scale(1.15);
}

/* Forms */
.form-control::placeholder {
    color: rgba(33, 37, 41, 0.5);
    font-weight: 400;
}

/* Buttons */
.btn:active,
.btn:focus {
    color: #fff;
}

.btt-button {
    height: 42px;
    width: 42px;
    position: fixed;
    bottom: 40px;
    right: 20px;
    border-radius: 10px;
    border: 1px solid rgba(0, 0, 0, 0.5);
    box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.5);
    background-color: rgba(255, 255, 255, 0.5);
    transition: all 0.2s ease-in-out;
}

.btt-icon {
    font-size: 30px;
}

.btt-link {
    text-decoration: none;
}

.btt-button:hover {
    cursor: pointer;
    background-color: rgba(255, 255, 255, 0.8);
    transform:translateX(1px) translateY(1px);
    box-shadow: 0px 0px 0px 0px;
}

/* Navbar */
.navbar {
    background-color: #fff;
    box-shadow: 0 2px 2px 2px rgba(0, 0, 0, 0.5);
}

.nav-item .nav-link, 
a,
.hover-blue {
    color: var(--dark-blue);
    font-weight: bold;
}

.nav-item .nav-link:hover,
a:hover,
.hover-blue:hover,
.nav-item .nav-link:focus,
a:focus,
.hover-blue:focus {
    color: var(--light-blue);
}

.logo {
    width: 300px;
    max-width: 90%;
}

.offcanvas-title {
    padding-left: 32px;
}

.account-and-bag {
    display: inline-block;
    width: 70px;
    font-size: 16px;
}

.dropdown-menu {
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.5);
}

.contact-form-text-area {
    resize: none;
    height: 150px;
}

/* Footer */
footer {
    background-color: #fff;
    box-shadow: 0 -2px 2px 2px rgba(0, 0, 0, 0.5);
}

.footer-logo {
    width: 200px;
    max-width: 90%;
}

/* Offer Banner - Code found here: https://blog.hubspot.com/website/scrolling-text-css */
.scroll-container {
    overflow: hidden;
    border-top: 1px solid rgba(0, 0, 0, 0.2);
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    background-color: rgba(255, 255, 255, 0.8);
    font-weight: bold;
    font-size: 1.2rem;
  }
  
.scroll-text {
/* animation properties */
-moz-transform: translateX(100%);
-webkit-transform: translateX(100%);
transform: translateX(100%);

-moz-animation: my-animation 25s linear infinite;
-webkit-animation: my-animation 25s linear infinite;
animation: my-animation 25s linear infinite;
}

/* for Firefox */
@-moz-keyframes my-animation {
from { -moz-transform: translateX(100%); }
to { -moz-transform: translateX(-100%); }
}

/* for Chrome */
@-webkit-keyframes my-animation {
from { -webkit-transform: translateX(100%); }
to { -webkit-transform: translateX(-100%); }
}

@keyframes my-animation {
from {
    -moz-transform: translateX(100%);
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
}
to {
    -moz-transform: translateX(-100%);
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
}
}

/* Bootstrap Toasts */
.message-container {
    position: fixed;
    top: 20px;
    right: 15px;
    z-index: 99999999999;
    max-width: 90%;
}

.custom-toast {
    overflow: visible;
    background-color: #fff;
}

.bag-notification-wrapper {
    height: 120px;
    overflow-x: hidden;
    overflow-y: auto;
}

/* Home Page */
.hero-text {
    margin-top: 20vh;
}

.hero-header {
    background-color: rgba(255, 255, 255, 0.3);
    box-shadow: 0px 0px 4px 4px rgba(255, 255, 255, 0.3);
}

/* Product Page */
.card-img-top {
    object-fit: cover;
    object-position: center;
    width: 100%; /* Ensure the image takes the full width of the container */
    height: 100%; /* Ensure the image takes the full height of the container */
}

/* Product Detail Page */
.product-detail-img {
    border-radius: 5px;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.5);
}

.collapse-heading {
    border: 1px solid rgba(0, 0, 0, 0.5);
    padding: 5px;
    border-radius: 3px;
    cursor: pointer;
    text-decoration: none;
    font-weight: normal;
}

.qty-selector-button:hover {
    cursor: pointer;
}

/* Shopping Bag Page */
.shopping-button {
    width: 48%;
    min-width: fit-content;
}

.remove-link:hover {
    color: #ff0000 !important;
    cursor: pointer;
}

.update-link {
    cursor: pointer;
}

.decrement-qty:disabled,
.increment-qty:disabled {
   background-color: #e9ecef;
}

.discount-form {
    width: 250px;
}

/* All Auth */
/* Login Page */
form.login input {
    margin-bottom: 20px !important;
}

/* Sign Up Page */
form.signup input {
    margin-bottom: 20px !important;
}

/* Password Reset Page */
form.password_reset input {
    margin-bottom: 20px !important;
}

/* Password Reset Form */
form.new_password_form input {
    margin-bottom: 20px !important;
}

/* Product Form */
.btn-file {
    position: relative;
    overflow: hidden;
}

.btn-file input[type="file"] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    opacity: 0;
    cursor: pointer;
}

/***** Media Queries *****/
/* Navbar */
@media screen and (min-width: 320px) and (max-width: 375px) {
    .clear-nav {
        margin-top: 65px;
    }
    
    .logo {
        width: 230px;
    }

    .scroll-container {
        font-size: 0.95rem;
    }

    .shopping-button {
        width: 100%;
        margin-top: 15px;
    }
    
}

@media screen and (min-width: 376px) and (max-width: 425px) {
    .clear-nav {
        margin-top: 72px;
    }

    .logo {
        width: 270px;
    }

    .scroll-container {
        font-size: 1.05rem;
    }

    .shopping-button {
        width: 100%;
        margin-top: 15px;
    }
}

@media screen and (min-width: 425px) and (max-width: 767px) {
    .shopping-button {
        width: 100%;
        margin-top: 15px;
    }
}

@media screen and (min-width: 425px) and (max-width: 991px) {
    .clear-nav {
        margin-top: 66px;
    }

    .logo {
        padding-left: 56px;
        width: 300px;
    }

    .scroll-container {
        font-size: 1.1rem;
    }
}

@media screen and (min-width: 992px) {
    .clear-nav {
        margin-top: 101px;
    }
}