#div_id_on_sale {
    margin-bottom: 25px;
}

textarea {
    resize: none;
    height: 100px;
}

.select-product-dropdown {
    height: 200px;
    min-width: 100%;
    max-width: 90vw;
    overflow-y: scroll;
}

.dropdown-center {
    width: 48%;
}

.product-management-button {
    width: 48%;
}

.out-of-stock-badge {
    display: inline-block;
    padding: 0.35em 0.65em;
    font-size: 0.75em;
    font-weight: 700;
    line-height: 1;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: 0.375rem;
}

/* Reviews */
.carousel-control-next,
.carousel-control-prev {
    filter: invert(100%);
}

.review-card {
    min-height: 305px;
}

.review-date {
    font-size: 0.8rem;
}

/***** MEDIA QUERIES *****/
@media screen and (max-width: 425px) {
    .product-management-button,
    .dropdown-center {
        width: 100%;
    }
    
}

@media screen and (min-width: 426px) and (max-width: 768px) {
    .product-management-button,
    .dropdown-center {
        width: 400px;
    }
    
}