<!-- Navbar -->
<header class="container-fluid">
    <nav class="navbar fixed-top navbar-expand-lg">
        <div class="container-fluid">
                <!-- Main Logo  -->
            <a class="navbar-brand mx-auto col-lg-3" href="{% url 'home' %}">
                <img class="logo" src="{{ MEDIA_URL }}logo.webp" alt="Logo">
            </a>
            <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
                <!-- Off Canvas Logo -->
                <div class="offcanvas-header">
                    <div class="offcanvas-title" id="offcanvasNavbarLabel">
                        <img class="logo" src="{{ MEDIA_URL }}logo.webp" alt="Logo">
                    </div>
                    <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                </div>
                <div class="offcanvas-body">
                    <!-- Search Bar -->
                    <div class="col-12 col-lg-8 my-auto py-1 py-lg-0">
                        <div>
                            <form method="GET" action="{% url 'products' %}">
                                <div class="input-group w-100">
                                    <input class="form-control" type="text" name="q" placeholder="Search our site">
                                    <span class="input-group-text p-0">
                                        <button class="form-control btn m-0" type="submit" aria-label="Search button">
                                            <span class="icon">
                                                <i class="fas fa-search"></i>
                                            </span>
                                        </button>
                                    </span>
                                </div>
                            </form>
                        </div>
                        <!-- Nav links -->
                        <div>
                            <ul class="navbar-nav text-center d-flex align-items-center justify-content-center pt-1">
                                <!-- All products dropdown -->
                                <li class="nav-item dropdown px-2">
                                    <a class="nav-link" href="#" id="all-products-link" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        All Products
                                    </a>
                                    <div class="dropdown-menu" aria-labelledby="all-products-link">
                                        <a href="" class="dropdown-item dark-blue">By Price</a>
                                        <a href="" class="dropdown-item dark-blue">By Rating</a>
                                        <a href="" class="dropdown-item dark-blue">By Category</a>
                                        <a href="{% url 'products' %}" class="dropdown-item dark-blue">All Products</a>
                                    </div>
                                </li>
                                <!-- Pantry dropdown -->
                                <li class="nav-item dropdown px-2">
                                    <a class="nav-link" href="#" id="pantry-link" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        Pantry
                                    </a>
                                    <div class="dropdown-menu" aria-labelledby="pantry-link">
                                        <a href="{% url 'products' %}?category=bread" class="dropdown-item dark-blue">Bread</a>
                                        <a href="{% url 'products' %}?category=pasta_rice" class="dropdown-item dark-blue">Pasta &amp; Rice</a>
                                        <a href="{% url 'products' %}?category=bread,pasta_rice" class="dropdown-item dark-blue">All Pantry</a>
                                    </div>
                                </li>
                                <!-- Sweet treats dropdown -->
                                <li class="nav-item dropdown px-2">
                                    <a class="nav-link" href="#" id="sweet-treats-link" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        Sweet Treats
                                    </a>
                                    <div class="dropdown-menu" aria-labelledby="sweet-treats-link">
                                        <a href="{% url 'products' %}?category=cakes_cookies" class="dropdown-item dark-blue">Cakes &amp; Cookies</a>
                                        <a href="{% url 'products' %}?category=bars" class="dropdown-item dark-blue">Bars</a>
                                        <a href="{% url 'products' %}?category=sweets" class="dropdown-item dark-blue">Sweets</a>
                                        <a href="{% url 'products' %}?category=popcorn" class="dropdown-item dark-blue">Popcorn</a>
                                        <a href="{% url 'products' %}?category=cakes_cookies,bars,sweets,popcorn" class="dropdown-item dark-blue">All Sweet Treats</a>
                                    </div>
                                </li>
                                <!-- Condiments dropdown -->
                                <li class="nav-item dropdown px-2">
                                    <a class="nav-link" href="#" id="condiments-link" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        Condiments
                                    </a>
                                    <div class="dropdown-menu" aria-labelledby="condiments-link">
                                        <a href="{% url 'products' %}?category=sauces" class="dropdown-item dark-blue">Sauces</a>
                                        <a href="{% url 'products' %}?category=oils" class="dropdown-item dark-blue">Oils</a>
                                        <a href="{% url 'products' %}?category=sauces,oils" class="dropdown-item dark-blue">All Condiments</a>
                                    </div>
                                </li>
                                <!-- Special offers dropdown -->
                                <li class="nav-item dropdown px-2">
                                    <a class="nav-link" href="#" id="special-offers-link" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        Special Offers
                                    </a>
                                    <div class="dropdown-menu" aria-labelledby="special-offers-link">
                                        <a href="{% url 'products' %}?new" class="dropdown-item dark-blue">New Arrivals</a>
                                        <a href="{% url 'products' %}?sale" class="dropdown-item dark-blue">Sale Items</a>
                                        <a href="{% url 'products' %}?all_specials" class="dropdown-item dark-blue">All Specials</a>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <!-- Account and Shopping Bag -->
                    <div class="col-12 col-lg-4 my-auto py-1 py-lg-0">
                        <ul class="list-inline list-unstyled text-center text-lg-right my-0">
                            <li class="list-inline-item dropdown px-lg-2 pe-3">
                                <a class="nav-link" href="#" id="user-options" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <div class="text-center hover-blue">
                                        <div><i class="fas fa-user fa-lg icon"></i></div>
                                        <p class="my-0">My Account</p>
                                    </div>
                                </a>
                                <div class="dropdown-menu border-0" aria-labelledby="user-options">
                                    {% if request.user.is_authenticated %}
                                        {% if request.user.is_superuser %}
                                            <a href="" class="dropdown-item dark-blue">Product Management</a>
                                        {% endif %}
                                        <a href="" class="dropdown-item" dark-blue>My Profile</a>
                                        <a href="{% url 'account_logout' %}" class="dropdown-item dark-blue">Logout</a>
                                    {% else %}
                                        <a href="{% url 'account_signup' %}" class="dropdown-item dark-blue">Register</a>
                                        <a href="{% url 'account_login' %}" class="dropdown-item dark-blue">Login</a>
                                    {% endif %}
                                </div>
                            </li>
                            <li class="list-inline-item px-lg-2 ps-3">
                                <a class="nav-link" href="">
                                    <div class="text-center hover-blue">
                                        <div><i class="fas fa-shopping-bag fa-lg icon"></i></div>
                                        <p class="my-0">
                                            {% if grand_total %}
                                                £{{ grand_total|floatformat:2 }}
                                            {% else %}
                                                £0.00
                                            {% endif %}
                                        </p>
                                    </div>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar" aria-label="Open Menu">
                <span class="navbar-toggler-icon"></span>
            </button>
        </div>
    </nav>
</header>