{% extends "base.html" %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'products/css/products.css' %}">
{% endblock %}

{% block content %}
    <div class="overlay"></div>
    <div class="container-fluid clear-nav mb-3">
        {% include 'includes/offer-banner.html' %}
        <div class="row">
            <div class="col text-center">
                <h2 class="dark-blue">Product Management</h2>
                <h5 class="text-muted">Edit a Product</h5>
                <hr class="w-50 mx-auto mb-3">                    
            </div>
        </div>

        <div class="row">
            <div class="col-12 col-md-6 mx-auto">
                <p class="text-danger">Products added that have multiple variants will not go live on the site until at least 1 variants has been added.</p>
                <form action="{% url 'edit_product' product.id %}" method="POST" class="form mb-2" enctype="multipart/form-data">
                    {% csrf_token %}
                    {% for field in form %}
                        {% if field.name != 'image' %}
                            {{ field | as_crispy_field }}
                        {% else %}
                            {{ field }}
                        {% endif %}
                    {% endfor %}
                    <div class="d-flex justify-content-between flex-column flex-md-row">
                        <a href="{% url 'product_management' %}" class="btn btn-danger text-center mt-2 shopping-button">
                            <i class="fa-solid fa-ban pe-2"></i>
                            Cancel
                        </a>
                        <button type="submit" class="btn btn-success text-center mt-2 shopping-button">
                            <i class="fa-solid fa-square-plus pe-2"></i>
                            Update Product
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>

{% include 'products/includes/edit_product_modals.html' %}
        
{% endblock %}

{% block extra_js %}
{{ block.super }}
    <script src="{% static 'products/js/add_edit_product.js' %}"></script>
    <script>
        document.getElementById('new-image').addEventListener('change', (event) => {
            const fileInput = event.target;
            const file = fileInput.files[0];
            const filenameElement = document.getElementById('filename');

            if (file) {
                filenameElement.textContent = `Image will be set to: ${file.name}`;
            } else {
                // Handle case where no file is selected, clear the filename
                filenameElement.textContent = 'No image selected';
            }
        });
    </script>
{% endblock %}