{% extends "base.html" %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'products/css/products.css' %}">
{% endblock %}

{% block title %} | Products{% endblock %}

{% block content %}
    <div class="overlay"></div>
    <div class="container-fluid clear-nav mb-3">
        {% include 'includes/offer-banner.html' %}
        <div class="row">
            <div class="col text-center">
                <h2 class="dark-blue">Products</h2>
                <!-- Display a badge for all categories filtered -->
                {% for c in current_categories %}
                    <a class="text-decoration-none me-1" href="{% url 'products' %}?category={{ c.name }}">
                        <span class="badge bg-secondary">{{ c.friendly_name }}</span>
                    </a>
                {% endfor %}
                <!-- If the GET request contains the word new display new badge -->
                {% if 'new' in request.GET %}
                    <a class="text-decoration-none me-1" href="{% url 'products' %}?new">
                        <span class="badge bg-secondary">New</span>
                    </a>
                {% endif %}
                <!-- If the GET request contains the word sale display sale badge -->
                {% if 'sale' in request.GET %}
                    <a class="text-decoration-none me-1" href="{% url 'products' %}?sale">
                        <span class="badge bg-secondary">Sale</span>
                    </a>
                {% endif %}
                <!-- If the GET request contains all_specials display new and sale badges -->
                {% if 'all_specials' in request.GET %}
                    <a class="text-decoration-none me-1" href="{% url 'products' %}?new">
                        <span class="badge bg-secondary">New</span>
                    </a>
                    <a class="text-decoration-none me-1" href="{% url 'products' %}?sale">
                        <span class="badge bg-secondary">Sale</span>
                    </a>
                {% endif %}
                
                <hr class="w-50 mx-auto mb-3">
            </div>
        </div>
        <div class="row mt-1 mb-2">
            <div class="col-12 col-md-6 my-auto order-md-last d-flex justify-content-center justify-content-md-end">
                <div class="w-50">
                    <select id="sort-selector" class="form-select" aria-label="Sorting selector">
                        <option value="reset" {% if current_sorting == 'None_None' %}selected{% endif %}>Sort by...</option>
                        <option value="price_asc" {% if current_sorting == 'price_asc' %}selected{% endif %}>Price (low to high)</option>
                        <option value="price_desc" {% if current_sorting == 'price_desc' %}selected{% endif %}>Price (high to low)</option>
                        <option value="rating_asc" {% if current_sorting == 'rating_asc' %}selected{% endif %}>Rating (low to high)</option>
                        <option value="rating_desc" {% if current_sorting == 'rating_desc' %}selected{% endif %}>Rating (high to low)</option>
                        <option value="name_asc" {% if current_sorting == 'name_asc' %}selected{% endif %}>Name (A-Z)</option>
                        <option value="name_desc" {% if current_sorting == 'name_desc' %}selected{% endif %}>Name (Z-A)</option>
                        <option value="category_asc" {% if current_sorting == 'category_asc' %}selected{% endif %}>Category (A-Z)</option>
                        <option value="category_desc" {% if current_sorting == 'category_desc' %}selected{% endif %}>Category (Z-A)</option>
                    </select>
                </div>
            </div>
            <div class="col-12 col-md-6 order-md-first">
                <p class="text-muted mt-3 text-center text-md-start">
                    {% if search_term or current_categories or current_sorting != 'None_None' %}
                        <span><a class="text-decoration-none" href="{% url 'products' %}">Products Home</a> | </span>
                    {% endif %}
                    {{ products|length }} Products{% if search_term %} found for <strong>"{{ search_term }}"</strong>{% endif %}
                </p>
            </div>
        </div>
        <div class="row">
            {% for product in products %}
                <div class="col-sm-6 col-md-6 col-lg-4 col-xl-3">
                    <div class="card h-100 border-0">
                        <div class="w-100 h-100">
                            {% if product.image %}
                            <a href="{% url 'product_detail' product.id %}">
                                <img class="card-img-top" src="{{ product.image.url }}" alt="{{ product.name }}">
                            </a>
                            {% else %}
                            <a href="{% url 'product_detail' product.id %}">
                                <img class="card-img-top" src="{{ MEDIA_URL }}noimage.webp" alt="{{ product.name }}">
                            </a>
                            {% endif %}
                        </div>
                        <div class="card-body pb-0">
                            <p class="mb-0">
                                <a class="text-decoration-none" href="{% url 'product_detail' product.id %}">{{ product.name }}</a>
                                {% if product.new == True %}
                                    <a class="text-decoration-none" href="{% url 'products' %}?new">
                                        <span class="badge bg-primary">New</span>
                                    </a>
                                {% endif %}
                                {% if product.sale_price > 0 %}
                                    <a class="text-decoration-none" href="{% url 'products' %}?sale">
                                        <span class="badge bg-danger">Sale</span>
                                    </a>
                                {% elif product.variants.all %}
                                    {% with lowest_sale_price=product.variants.all|dictsort:'sale_price'|first %}
                                        {% if lowest_sale_price.sale_price > 0 %}
                                            <a class="text-decoration-none" href="{% url 'products' %}?sale">
                                                <span class="badge bg-danger">Sale</span>
                                            </a>
                                        {% endif %}
                                    {% endwith %}
                                {% endif %}
                                {% if product.stock_count == 0 %}
                                    <span class="out-of-stock-badge bg-warning text-dark">Out of stock</span>
                                {% else %}
                                    {% with sorted_variants=product.variants.all|dictsortreversed:'stock_count' %}
                                        {% if sorted_variants.0.stock_count == 0 %}
                                            <span class="out-of-stock-badge bg-warning text-dark">Out of stock</span>
                                        {% endif %}
                                    {% endwith %}
                                {% endif %}                           
                            </p>
                        </div>
                        <div class="card-footer bg-white pt-0 border-0 text-left">
                            <div class="row">
                                <div class="col">
                                    {% if product.variants.all %}
                                        <!-- Info on 'dictsort' found here: https://docs.djangoproject.com/en/4.2/ref/templates/builtins/#std-templatefilter-dictsort -->
                                        {% with lowest_price=product.variants.all|dictsort:'price'|first %}
                                            {% if lowest_price.sale_price > 0 %}
                                                <span class="font-weight-bold">From
                                                    <del class="text-muted">£{{ lowest_price.price }}</del>
                                                </span>
                                                <span class="text-danger font-weight-bold">£{{ lowest_price.sale_price }}</span>
                                            {% else %}
                                                <span class="font-weight-bold">From £{{ lowest_price.price }}</span>
                                            {% endif %}
                                        {% endwith %}
                                    {% else %}
                                        {% if product.sale_price > 0 %}
                                            <span class="font-weight-bold">
                                                <del class="text-muted">£{{ product.price }}</del>
                                            </span>
                                            <span class="text-danger font-weight-bold">£{{ product.sale_price }}</span>
                                        {% else %}
                                            <span>£{{ product.price }}</span>
                                        {% endif %}
                                    {% endif %}
                                    {% if product.category %}
                                        <p class="small mt-1 mb-0">
                                            <a class="text-muted text-decoration-none tags" href="{% url 'products' %}?category={{ product.category.name }}">
                                                <i class="fas fa-tag mr-1"></i> {{ product.category.friendly_name }}
                                            </a>
                                        </p>
                                    {% endif %}
                                    <br>
                                    {% if product.rating %}
                                        <small class="text-muted"><i class="fas fa-star pe-1 text-warning"></i>{{ product.rating }} / 5</small>
                                    {% else %}
                                        <small class="text-muted">No rating yet</small>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                {% if forloop.counter|divisibleby:1 %}
                    <div class="col-12 d-sm-none mb-5">
                        <hr>
                    </div>
                {% endif %}                        
                {% if forloop.counter|divisibleby:2 %}
                    <div class="col-12 d-none d-sm-block d-md-block d-lg-none mb-5">
                        <hr>
                    </div>
                {% endif %}
                {% if forloop.counter|divisibleby:3 %}
                    <div class="col-12 d-none d-lg-block d-xl-none mb-5">
                        <hr>
                    </div>
                {% endif %}
                {% if forloop.counter|divisibleby:4 %}
                    <div class="col-12 d-none d-xl-block mb-5">
                        <hr>
                    </div>
                {% endif %}
            {% endfor %}
        </div>
    </div>
    <div class="btt-button text-center d-none">
        <a id="btt-link" class="btt-link d-flex h-100">
            <i class="fa-solid fa-chevron-up btt-icon my-auto mx-auto"></i>
        </a>	
    </div>
{% endblock %}

{% block extra_js %}
{{ block.super }}
    <script>
        // Back to top button
        const bttDiv = document.querySelector('.btt-button');

        function toggleBackToTopButton() {
            if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
                bttDiv.classList.remove('d-none');
            } else {
                bttDiv.classList.add('d-none');
            }
        }

        document.querySelector('#btt-link').addEventListener('click', () => {
            window.scrollTo({
                top: 0,
                left: 0,
                behavior: 'smooth'
            });
        });

        window.addEventListener('scroll', toggleBackToTopButton);
    </script>
    <script>
        document.querySelector('#sort-selector').addEventListener('change', () => {
            const selector = document.querySelector('#sort-selector');
            const currentUrl = new URL(window.location.href);

            const selectedVal = selector.value;
            if (selectedVal !== 'reset') {
                const [sort, direction] = selectedVal.split('_');

                currentUrl.searchParams.set('sort', sort);
                currentUrl.searchParams.set('direction', direction);

                window.location.replace(currentUrl);
            } else {
                currentUrl.searchParams.delete('sort');
                currentUrl.searchParams.delete('direction');

                window.location.replace(currentUrl);
            }
        });
    </script>
{% endblock %}